.hero {
  width: 100%;
  min-height: 80vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../../public/images/hero-food.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero-left {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: justify;
  background-image: linear-gradient(to right, #004D40, rgba(255, 255, 255, 0));
}

.hero-left h1 {
  font-size: 4.5rem;
  margin-bottom: 2rem;
}

.hero-left p {
  font-size: 1.3rem;
  font-weight: 400;
}

.hero-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-right img{
  width: 900px;
}

.explore-more__btn {
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  background: var(--pr-btn);
  color: white;
  font-size: 1.4rem;
  margin-top: 1.5rem;
  cursor: pointer;
}