@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --pr-color: #004d40;
  --pr-btn: #fd7e14;
}

.default-btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  background: var(--pr-color);
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.fade {
  animation: fade linear both;
  animation-timeline: scroll();
  animation-range: entry 50% cover 50%;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}